<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yazilimmuhendisligi.yemeksiparis">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ui_firma.GelenSiparis.GelenSiparisDetayActivity" android:label="Gelen Sipariş Detay Ekranı"></activity>
        <activity android:name=".ui_musteri.GecmisSiparisMusteri.GecmisSiparisMusteri" />
        <activity
            android:name=".ui_musteri.SiparisVerActivity.SiparisVerActivity"
            android:label="Sipariş Ver" />
        <activity android:name=".ui_musteri.Sepet.Sepet" />
        <activity android:name=".ui_musteri.MusteriBilgileriGuncelle.MusteriBilgileriGuncelle" />
        <activity android:name=".ui_firma.UrunMenu.UrunMenu" />
        <activity
            android:name=".ui_firma.GelenSiparis.GelenSiparisActivty"
            android:label="Gelen Sipariş Ekranı" />
        <activity
            android:name=".ui_firma.FirmaBilgileriGuncelle.FirmaBilgileriGuncelle"
            android:label="Menüyü Güncelle" />
        <activity android:name=".ui_admin.MusteriListeleAdmin.MusteriListeleAdmin" />
        <activity android:name=".ui_admin.MusteriKaraliste.MusteriKaraliste" />
        <activity android:name=".ui_admin.FirmaKaraliste.FirmaKaraliste" />
        <activity
            android:name=".ui_admin.FirmaListeleAdmin.FirmaListeleAdmin"
            android:label="Firmaları Listele" />
        <activity
            android:name=".ui_firma.firmaActivity"
            android:label="@string/title_activity_firma" />
        <activity
            android:name=".ui_admin.adminActivity"
            android:label="@string/title_activity_admin_main" />
        <activity
            android:name=".ui_musteri.musteriActivity"
            android:label="@string/title_activity_musteri" />
        <activity
            android:name=".parolaUnuttum"
            android:label="Parolamı Unuttum"
            android:parentActivityName=".girisActivity" />
        <activity
            android:name=".firmaKayit"
            android:label="Firma Kayıt"
            android:parentActivityName=".girisActivity" />
        <activity
            android:name=".musteriKayit"
            android:label="Müşteri Kayıt"
            android:parentActivityName=".girisActivity" />
        <activity android:name=".girisActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>